@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*공통 */
 * { font-family: 'SUIT-Regular' }


/* 맨위 광고 */
.cgv_ad_top{
	background-color: #02162e;
	text-align: center;
	
}

/*헤더 전체구역설정  */
.header {
    position: sticky;
    z-index: 101;
    top:0px; left: 0px; 
}

/* logo|| 광고 로그인 회원가입 my_cgv 고객센터   */
.header_top {
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .header_btn {
    width: 980px;
    margin: 0 auto;
}

.header_top .header_btn {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
}

.header_top .header_btn h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

.header_top .header_btn h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_top .header_btn h1 a img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}


.header_top .header_btn h1 span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

.btn_list li{
	list-style: none;
}



.header_top .header_btn .btn_list {
    display: flex;
    align-items: center;
    
}

.header_top .header_btn .btn_list li {
    margin-left: 44px;
    margin-top: 2px;
    
}

.header_top .header_btn .btn_list a {
    display: block;
    position: relative;
    padding-bottom: 19px;
}

.header_top .header_btn .btn_list li a img {
    width: 36px;
    height: 36px;
}


.header_top .header_btn .btn_list li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}


/* 헤더 하위목록 */



a {
	color: black !important;
	text-decoration: none !important;
}

.h_menu { width: 1040px; margin: 0 auto; display: flex; justify-content: space-between; }
.h_menu li{ display: inline-block; margin-right: 50px; }

.h_menu:hover .menu_list{ display: none; }


#mainbox{ border-bottom: solid 1px #ebebeb; z-index: 103; }

.menu_list{ 
	width:1040px; display: flex; 
	margin: 0 auto;
	position: relative;
	padding-bottom: 15px;
	
}


.menu_list li { list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}


.menu_list2{
	background-color: white;
	width:1040px; display: flex; 
	position: absolute; display: none;  top : 25px; 
	left: 0px;
	
}	

.menu_list2 li{
	margin: 0 px;
	padding: 0px 20px;
	list-style-type: none;
}
.menu_list:hover .menu_list2{ display: flex; 
	 }
	
.top {
	display: flex;
	
	
}
.top div{
	margin-right: 50px; 
	margin-left: 55px;
	top : 130px;
	left: -20px;
}

.wrap div{
	left: -20px;
}

.wrap_search{
	top: 20px;
	
}

.tmffoa{
	border-bottom-style: none;
	border-top-style: none;
	margin-left: 100px;
}

#ejdzm{
	display: flex; justify-content: space-between;
	align-items: center;
}
#ejdzm button{
	border: none;
	padding-left: 20px;
	background: white;
	
}
/*
	footer
*/


.footer_list {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}

.footer_list li{
	list-style-type: none;
}

.footer_list li a {
    font-weight: 500;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
}

.company_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}

.company_info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}



.company_info .company_info_list {
    display: flex;
}



.footer {
    display: none;
}

.footer .familysite_wrap .finish {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 34px;
    margin-left: -1px;
    font-size: 14px;
    color: #fff;
    line-height: 1.429em;
    background-color: #9e9e9e;
    vertical-align: top;
}


/* =========================================================================*/

.videobox{
	background-color: black;
	text-align: center;
}


.chart_head{
	background-color: rgba(232, 232, 232, 0.37); 
}

.chart_head div , .chart_head span , .chart_head a { background-color: rgba(232, 232, 232, 0); }

.movie_chart{
	width: 1040px; 
	margin: 0 auto; 
	padding: 40px 0px;
	background-color: rgba(232, 232, 232, 0); 
}


.chart_top{
	display: flex; justify-content: space-between;
	background-color: rgba(232, 232, 232, 0);
	align-items: center;
}

.tx1{ 
	font-size: 26px; color: #222222; 
	font-weight: bold;
}

.tx2{ color: #cccccc; margin: 0px 10px; }

.tx3{ color: #666666; font-size: 26px; }

.tx4{ margin-left: 10px; font-size: 14px; }

.tx5{ 
	font-size: 20px; color: #222222;
	font-weight: bold; 
}

.chart_top_btn{
	display: flex; align-items: center;
}
.stopbtn{ 
	padding: 2px 10px; border-radius: 30px; border: solid 1px #e2e2e2;
	background-color: #FEFEFE; margin-right: 7px;
}
.allbtn{
	padding: 4px 10px; border-radius: 30px;
	font-size: 14px; border: solid 1px #e2e2e2;
	background-color: rgba(232, 232, 232, 0);
}

.movie_item_box{ 
	display: flex; flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(232, 232, 232, 0);
	text-align: center;
	overflow-x: auto;
	position: relative;
}
.movie_item{ width: 160px; margin: 20px 10px; text-align: center; }
.img_box{ height:220px; position: relative; }
.img_box:hover .movie_btn_box{ display: block; }
.img_box img { 
	width: 100%; 
	border-radius: 15px; 
	height: 220px;
}


.movie_title{ 
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5%;
	font-size: 18px; color: #222222;
	font-weight: bold;
	text-align: center;
}

.movie_info_box{
	display: flex; justify-content: space-between;
	padding: 1% 8%;
	font-size: 14px; color: #444444;
}

.movie_info_box img { 
	width: 16px; height: 16px;
	background-color: rgba(232, 232, 232, 0);
	margin-right: 2px;
}
.al{ display: flex; align-items: center;}

.movie_btn_box{
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.5) !important;
	display: none;
	border-radius: 15px;
}
.movie_btn_box a{ display: block; margin: 5px 0px;}
.movie_btn_box button{ 
	width: 120px; height: 35px;
	border: none; border-radius: 5px;
	font-size: 14px;
	margin-bottom: 5px;
	text-align: center;
}

.btn_box{ 
	position: absolute;
	top: 70px; left: 20px;
}

.bt1{ background-color: white; color: #222222; }
.bt2{ background-color: rgb(80, 46, 141); color: white; }

.event_box{
	width: 1040px; margin: 0 auto;
	height: 500px; 
}

.event_top{ 
	display: flex; justify-content: space-between;
	padding: 50px 0px 20px 0px;
	align-items: center;
}


.event_item_area{ 
	width: 100%; 
	display: flex; justify-content: space-between;
}
.event_item_box{ width: 30%; }
.event_item img { width: 100%; border-radius: 10px; }
.event_item div { text-align: left;}
.event_title{ 
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px 0px; 
	font-size: 18px; color: #222222;
	font-weight: bold;
}
.event_time{ font-size: 14px; color: #666666; }

.store_box{ 
	width: 1040px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.store_box a { text-decoration: none ;}

.store_item_box{ 
	width: 30%; 
	border: solid 1px #e4e4e4; 
	border-radius: 10px;
	padding: 17px;
	margin: 15px;
}
.store_box_top{
	width: 100%;
	display: flex; justify-content: space-between;
}



.viewbtn{
	padding: 3px 15px; border-radius: 30px;
	font-size: 12px; border: solid 1px #e2e2e2;
}

.store_item { 
	width: 100%; 
	height: 75px;
	display: flex;
	margin-top: 25px;
}

.item_img_box{
	width: 30%;
	margin-right: 10px;
}

.item_img_box img { height: 75px;}
.store_item_text{
	width: 65%;
	padding-top: 18px;
}
.store_item_text div { 
	text-align: left; 
}

.store_tx1{ color: #222222; font-size: 14px;}
.store_tx2{ color: #222222; font-size: 16px; font-weight: bold; }
