@charset "UTF-8";

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {padding: 0px;font-family: 'SUIT-Regular';font-weight: 600;}
a {text-decoration: none; color: white;}
a:hover {color: white;}

h3 {font-family: 'twayair';margin-bottom: 3%;}

/* 전체 사이즈 설정*/
.wrap2 {width: 1040px; padding: 2%; margin: 0 auto; }

/* 영화 정보 설정*/
.information {padding: 1%;}
.m_title {font-family: 'twayair'; font-size: 25px;}
.m_score {border-bottom: 1px solid #888888;
			padding: 3% 0% 1% 0%;margin-bottom: 2%; }
.al2 img {width: 15px;}
.percent{color: red;font-weight:900;}

/* 인덱스바 설정*/
.bar { width:700px; ;height: 50px; 
		font-size: 17px;font-weight: 600;
		margin: 5% 14%; padding-left:5%;
		border: 3px solid rgb(31, 18, 54);
		color:white;background-color:rgb(31, 18, 54); }
.bar span {padding:1.5%;}
.bar-item{border: none;padding: 1%;
			background-color:rgb(31, 18, 54);color:white!important;}
.bar-item:focus{color: #f4ae0b !important;}
.bar-item:hover{opacity: 0.8;}

/* 영화 소개 설정 */
.info_bar {background-color:rgba(48,38,110,0.5);padding-left:1%;
			font-size: 18px;font-weight: 600;color:white;}
.info_content{padding: 2%;}
.carousel-inner{margin-left: 9%;}		
.copy{font-size: 35px;font-weight: 400;} 
.event {padding: 3%;margin:2%;font-size:20px;
		background-color: #eeeeee;border-radius: 15px; }
.point{color: red;}
.point2{font-size: 18px;}
.point3{font-size: 15px;}
.grade, .m_grade {width:90px; height: 70px; 
				border: none;border-radius: 15px; }
.grade {background-color:  rgba(255,0,0,0.7); color: white;}
.m_grade{background-color:  rgba(0,0,0,0.7); color: white;}
.review{border-top: 1px solid #888888;}
.review_item{border: 1px solid #eeeeee;padding: 0px;margin: 0px;}
.review_content{height: 100px;font-weight: 400;}
.id{padding: 3% 0%;}

/* 페이지네이션 설정 */
.pagination {padding-top:5%;}		 		 
.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}
.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
}
.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}

/* 상영시간표 설정*/
.time_table {display:none;}
.timebox{background-color: rgb(31, 18, 54) ;color: white;
		border-radius:15px;border:1px solid rgb(31, 18, 54);
		height:750px;justify-content: center;}
.box1, .box3 {padding: 1%;}
.box2{background-color: white;color: black;padding: 1%;}
.list{border: none; text-align:left; background-color: white;
		width: 100%;font-size:15px; padding:4% 1% 4% 0%;
		white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.list:focus{color:  #f4ae0b;}
.list:hover{background-color: rgba(64,38,110,0.5);color: white;}
.movie{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.reserve_btn {width: 130px; height: 120px; 
		font-size:20px;font-weight:600;
		border-radius:5px;border:none;
		background-color: white; color:#40266e;}


/* 모달 배경 설정*/
.modal_wrap {
	position: fixed;				
	top:0 ; left:0;width:100% ; height: 100%;
	background-color: rgba(173,173,173,0.5);	
	display:flex;
	justify-content: center;				
	align-items: center;					
	z-index: 1030;							
	display: none;
}
/* 모달 기본 설정*/
.modal_box{
	text-align: center;align-items: center;
	background-color: white;
	width: 500px; height: 600px;
	padding: 3%; border-radius: 5%;
}
.mo_table {margin: 15% 0%;}
.btns{width: 130px; font-size:20px;font-weight:600;
		 border-radius:5px;border:none;
		 background-color: #F5B21C; color:white; margin-top: 3%;}



