@charset "UTF-8";
/*--------웹폰트------------  */
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal; font-style: normal; }
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal; font-style: normal; }
/*-------기본값--------*/
*{ 	margin: 0px; padding: 0px; font-family: 'SUIT-Regular'; }
li{ list-style: none; }

/*--------스토어 wrap---------------------------*/
/*--------배너이미지------------------------*/
.imageDiv{ 	display: flex;	justify-content: center; margin-top: 25px; }
.image{ width: 49%; height: 0; 	padding-top: 20%; background-image: url("../img/store/main_image2.jpg");
	background-size: 100%; background-repeat: no-repeat; }

/*---------카테고리-----------------------*/
.left-category li{ display: inline-block; }
.category_wrap{ display: flex; justify-content: center; }
.category{ width: 100%; padding: 1%; border-top: 1px gray solid; 	border-bottom: 1px gray solid;
	margin-top: 2%; margin-bottom: 4%; }
.categoryUl{ margin: 0 auto; width: 870px; display: 
			flex; justify-content: space-between; flex-wrap: wrap; }
.category_li{ white-space: nowrap; font-family: 'SUIT-Regular'; 
			font-size: 20px; color: #696969; font-weight: bold;  }
.categoryliPoint{
	/* color: #40266e;  */
	color: black;
				
}

/*------------제품-----------------*/
.productAll{ width: 49%; margin: 0 auto; }
.p_head{ padding:  2% 2%; font-size: 27px; border-bottom: 1px solid black; font-family: 'twayair'; }
.productDiv{ display: flex; justify-content: flex-start; flex-wrap: wrap; 
			margin: 1%; padding-left: 2%; }
.product{ width: 28%; padding-bottom: 8%; margin: 2%; }
.product_img{ width: 100%; }
.product_title{ font-weight: bold; margin-bottom: 5%; }
.product_text{ height: 18%; }
.product_price{ font-weight: bold; }

/*------------장바구니--------------  */
.basket{ width: 100%; background-color: #eeeeee; position: sticky;
		bottom: 0; box-shadow: 0px -5px 10px 0px #D3D3D3; }
.basket_width{ width: 49%; margin: 0 auto; }
.basket_top{ display: flex; justify-content: space-between; padding: 5px 0px; }
.basket_title{ display: flex; align-items: center; width: 30%;
				padding: 0 2%; font-family: 'twayair'; font-size: 20px; }
.basketNum{ font-family: 'twayair'; font-size: 20px; margin-left: 5%; background-color: #40266e;
			border-radius: 25%; padding: 1% 5%; color: white; }
.total_order{ display: flex; justify-content: space-between; margin-right: 2%; width: 50%; }
.total{ display: flex; justify-content:flex-end; align-items: center; 
		width: 250%; padding: 0 8%; font-family: 'twayair'; font-size: 20px; }
.totalPrice{ margin-left: 5%; font-family: 'twayair'; font-size: 22px; }
.orderbtnDiv{ background-color: #40266e; display: flex; justify-content: center; align-items: center;
				padding: 2% 1%; width: 120%; margin: 3% 0; color: white; font-family: 'twayair'; 
				font-size: 20px; }

/* -------장바구니 하단---------- */
.basket_bottom{ width: 100%; display: flex; justify-content: flex-start; overflow: hidden;  }
.basket_product{ margin: 1%; width: 90px; margin-bottom: 10px;  white-space:nowrap;     }
.imgDiv{ width:100%; border-radius: 10%; margin-bottom: 5%; }
.basket_pinfo{ margin: 2% 5% 6% 10%; }
.binfo_title{ font-weight: bold; margin-bottom: 5%; }

/*---------모달----------*/
.modal_wrap{ position:fixed; top: 0; left: 0; width: 100%; height: 100%;
			background-color: rgba( 0 , 0 , 0 , 0.5); display: flex; justify-content: center; 
			align-items: center; display: none; z-index:9999 !important; }
.modal_box{ background-color: white; width: 30%; padding: 3%; border-radius: 5%; margin: 0 auto; 	}
.modal_h{ text-align: center;  font-size: 25px; margin: 15px 0 25px 0; color: #40266E; }
.ordertable{ margin: 0 auto; font-size: 20px; text-align: left; 
			 white-space: nowrap; border-collapse:separate; }
.ordertable th{ padding: 20px 0 10px 0; border-bottom: 1px solid gray; width: 80px; }
.ordertable td{ padding: 20px 0 10px 0; text-align: center; border-spacing: 10%; 
				border-bottom: 1px solid gray; width: 250px; }
.btns{ display: flex; justify-content: center; margin-top: 30px; }
.btns button{ border: 2px solid #40266E; padding: 2px 10px; margin: 10px; font-size: 15px;
			background-color: transparent; color: #40266E; font-weight: bold; }

